.productName {
  margin-bottom: 0;
  margin-top: 0;
  min-height: 3.6rem;
  line-height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prediction {
  background-color: #007095;
  color: white;
  padding: 2px 6px;
  border-radius: 6px;
}

.countrySelect {
  max-width: 300px;
  margin-bottom: 0;
}

.noImageAvailable {
  color: chocolate;
  margin: 20px 0;
}

.selectQuestion {
  max-width: 300px;
  margin: 0 auto;
}

.selectQuestion button {
  margin: 1px 0;
  border: solid 1px #e0effc;
  padding: 5px;
  width: 100%;
}

.selected {
  background-color: #007095;
}

.unselected {
  background-color: #00709581;
}

.unselected:hover,
.unselected:focus {
  background-color: #00709593;
}

.selected:hover,
.selected:focus {
  background-color: #007095e8;
}
